@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar" hidden>
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" hidden>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="pt-1 px-1">
            @Body
        </article>
    </main>
</div>
